.body,
h1,
h2,
h3,
h4,
p {
  font-weight: normal;
  font-size: 100%;
}

.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.list-inline {
  display: flex;
  gap: 7px;
  list-style-type: circle;
  list-style-position: inside;
  text-decoration-skip-ink: none;
  font-size: 18px;
}

.link-decoration-none {
  text-decoration: none;
}

.list-marker-none {
  list-style: none;
  text-decoration-skip-ink: none;
}

.logo {
  width: 148px;
  height: 105px;
  margin: 0 36px;
}

.address {
  justify-self: end;
  max-width: 240px;
  margin-left: 148px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
  color: #000;
  text-decoration-skip-ink: none;
}

.cover {
  position: relative;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  margin-bottom: 180px;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
}

.title {
  display: grid;
  row-gap: 20px;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 165px 50px 106px 50px;
  position: relative;
}

.aligned-text {
  padding-right: 712px;
  position: relative;
}

.aligned-text_center {
  padding-left: 331px;
  position: relative;
}

.aligned-text_right {
  padding-left: 613px;
  position: relative;
}

.description {
  display: flex;
  column-gap: 109px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.subtitle {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 1.1rem;
  line-height: 1.27273;
  text-transform: uppercase;
  padding-left: 50px;
  padding-bottom: 50px;
}

.cover-button {
  position: relative;
  z-index: 2;
  border: 1px solid currentColor;
  background-color: transparent;
  padding: 12px 32px;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  margin-right: 50px;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 120px;
}

.caption {
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

.lots__card-list-item {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 25px;
  row-gap: 25px;
  list-style: none;
  margin-bottom: 30px;
}

.card-title {
  text-transform: uppercase;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  position: relative;
}

.card-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  width: 334px;
  padding: 48px 40px 48px 40px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.cards-more {
  font-weight: 400;
  font-size: 20px;
  margin-left: 40px;
  text-decoration-skip-ink: none;
}

.about {
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 180px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 12px;
}

.about-logo {
  width: 148px;
  height: 114px;
  margin-left: 47px;
  margin-top: 64px;
}

.logo-column {
  background-color: #000;
  margin-top: 35px;
  margin-left: 47px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.about-title {
  margin-top: 136px;
  margin-left: 0;
  margin-bottom: 100px;
}

.about-text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-size: 18px;
  font-weight: 400;
  padding: 0 50px 82px 50px;
}

.footer-address {
  margin-left: 0;
}

.footer-nav {
  text-align: center;
}

.icons {
  width: 240px;
  height: 48px;
  gap: 48px;
}
